!!!
%html
  %head
    %title Sharefactory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      = render "shared/navbar"
      = render "shared/alerts"
      #inner-content
        = yield
      = render "shared/footer"